<!-- <div class="outer"><div class="middle"><div class="inner">
<h4 style="padding-left: 62vh;font-variant:small-caps;">The Points section is under development!</h4>
</div></div></div> -->
<br><br><br><br>
<div>
    <h1 class="color-white title" style="text-align:center">&nbsp;&nbsp;&nbsp;Fantasy Point System</h1>
</div>
<div style="background-color: none;background-size: cover;background-position: top center;width:60vw;display:block;margin:auto">
    <br><br>
    <div style="margin-left:8px !important;margin-right:8px !important;">
      <p class="color-white f-size-18 yardface">How inyards fantasy point system work?</p>
     <div class="text-center row header dark thin" style="border:#111 2px solid;border-radius:4px;display:flex">
       <div class="col1 dark color-white text-center row-align" style="font-size:16px;border-right:2px solid #fff !important">Point System <br></br></div>
       <div class="col1 dark color-white row-align" style="font-size:16px;border-right:2px solid #fff !important">Goalkeeper</div>
       <div class="col1 dark color-white row-align" style="font-size:16px;border-right:2px solid #fff !important">Defender</div>
       <div class="col1 dark color-white row-align" style="font-size:16px;border-right:2px solid #fff !important">Midfielder</div>
       <div class="col1 dark color-white row-align" style="font-size:16px;">Forward</div>
     </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;display: flex;">
       <div class="col1 color-black bold" style="color:#558B2F !important;border-left:2px solid #111 !important;font-weight:bolder !important;">Goal <br> Scored</div>
       <div class="col1 color-black bold lb-bg1 row-align">6</div>
       <div class="col1 color-black bold lb-bg1 row-align">6</div>
       <div class="col1 color-black bold lb-bg1 row-align">5</div>
       <div class="col1 color-black bold lb-bg1 row-align" style="border-right:2px solid #111 !important">4</div>
     </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;display: flex;">
       <div class="col1 d-text bold" style="color:#6A1B9A !important;border-left:2px solid #111 !important"><br>Assist<br></br></div>
       <div class="col1 color-black bold lb-bg2 row-align2">6</div>
       <div class="col1 color-black bold lb-bg2 row-align2">6</div>
       <div class="col1 color-black bold lb-bg2 row-align2">5</div>
       <div class="col1 color-black bold lb-bg2 row-align2" style="border-right:2px solid #111 !important">4</div>
     </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;display: flex;">
       <div class="col1 d-text bold" style="color:#FBC02D !important;width:5px !important;border-right:2px solid #111 !important;border-left:2px solid #111 !important;">Yellow <br> Card</div>
       <div class="col1 lb-bg3" style="border-color: transparent !important"></div>
       <div class="col1 bold text-right lb-bg3 row-align color-black" style="border-color: transparent !important;">-1</div>
       <div class="col1 lb-bg3" style="border-color: transparent !important"></div>
       <div class="col1 lb-bg3" style="border-color: transparent !important;border-right:2px solid #111 !important"></div>
     </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;display: flex;">
       <div class="col1 d-text bold text-center" style="color:#D50000 !important;width:5px !important;border-right:2px solid #111 !important;border-left:2px solid #111 !important;">Red <br> Card</div>
       <div class="col1 lb-bg4" style="border-color: transparent  !important"></div>
       <div class="col1 lb-bg4 bold text-right row-align color-black" style="border-color: transparent  !important;">-3</div>
       <div class="col1 lb-bg4" style=" border-color: transparent  !important"></div>
       <div class="col1 lb-bg4" style="border-color: transparent  !important;border-right:2px solid #111 !important"></div>
     </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;display: flex;">
       <div class="col1 color-black bold" style="color:#00BCD4 !important;border-left:2px solid #111 !important;">Clean <br> Sheet</div>
       <div class="col1 color-black bold lb-bg5 row-align">4</div>
       <div class="col1 color-black bold lb-bg5 row-align">3</div>
       <div class="col1 color-black bold lb-bg5 row-align">1</div>
       <div class="col1 color-black bold lb-bg5 white row-align" style="border-right:2px solid #111 !important">0</div>
     </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;display: flex;">
       <div class="col1 color-black bold row-align" style="color:#AFB42B !important;border-left:2px solid #111 !important;">Saves</div>
       <div class="col1 color-black bold lb-bg4" style="border-right:2px solid #111 !important;">1 per 3 saves</div>
       <div class="col1 lb-bg4"  style="border-color: transparent !important;"></div>
       <div class="col1 lb-bg4 color-black bold row-align"  style="border-color: transparent !important;">N/A</div>
       <div class="col1 lb-bg4" style="border-color: transparent !important;border-right:2px solid #111 !important"></div>
     </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;display: flex;">
       <div class="col1 color-black bold" style="color:#AFB42B !important;border-left:2px solid #111 !important;">Penalty Saves</div>
       <div class="col1 color-black bold lb-bg3" style="padding-top:10px !important;border-right:2px solid #111 !important;">4</div>
       <div class="col1 lb-bg3"  style="border-color: transparent !important;"></div>
       <div class="col1 lb-bg3 color-black bold row-align"  style="border-color: transparent !important;">N/A</div>
       <div class="col1 lb-bg3" style="border-color: transparent !important;border-right:2px solid #111 !important"></div>
     </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;display: flex;">
       <div class="col1 d-text bold text-center" style="color:#D32F2F !important;border-left:2px solid #111 !important;width:5px !important;border-right:2px solid #111 !important;">Penalty <br> Miss</div>
       <div class="col1 lb-bg2" style="border-color: transparent !important"></div>
       <div class="col1 lb-bg2 color-black bold text-right row-align" style="border-color: transparent !important;">-3</div>
       <div class="col1 lb-bg2" style=" border-color: transparent !important"></div>
       <div class="col1 lb-bg2" style="border-color: transparent !important;border-right:2px solid #111 !important"></div>
     </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;border-radius:4px;display: flex;">
       <div class="col1 d-text bold" style="color:#455A64 !important;border-left:2px solid #111 !important;width:5px !important;border-right:2px solid #111 !important;">Own <br> Goal</div>
       <div class="col1 lb-bg1" style="border-color:transparent !important"></div>
       <div class="col1 bold text-right lb-bg1 row-align color-black" style="border-color:transparent !important;">-2</div>
       <div class="col1 lb-bg1" style="border-color:transparent !important"></div>
       <div class="col1 lb-bg1" style="border-color:transparent !important;border-right:2px solid #111 !important;"></div>
     </div>
     <br><br>
     <p class="color-white f-size-18 yardface">When you will be awarded bonus points?</p>
     <div class="text-center row header dark thin" style="border:#111 2px solid;border-radius:4px;">
       <div class="col1 dark color-white text-center f-size-18" style="font-size:18px;height:30px;">Bonus points</div>
      </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;display:flex">
       <div class="col1 color-black bold row-align3" style="color:#FFAB00 !important;border-left:1.5px solid #111 !important;">Playing upto 60mins</div>
       <div class="col1 color-black bold lb-bg1 row-align3" style="border-right:1.5px solid #111 !important;font-size:16px;">1</div>
     </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;display:flex">
       <div class="col1 color-black bold row-align3" style="color:#689F38 !important;border-left:1.5px solid #111 !important;">Playing more than 60mins</div>
       <div class="col1 color-black bold lb-bg2 row-align3" style="border-right:1.5px solid #111 !important;font-size:16px;">2</div>
     </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;display:flex">
       <div class="col1 color-black bold row-align3" style="color:#303F9F !important;border-left:1.5px solid #111 !important;">For MOM*/highest goalscorer of the match <br>(only for 1 player allowed in a team)</div>
       <div class="col1 color-black bold lb-bg3" style="border-right:1.5px solid #111 !important;padding-top:35px !important;font-size:16px;">3</div>
     </div>
     <div class="text-center row header thin" style="border-bottom:#000 2px solid !important;border-radius:4px;display:flex">
       <div class="col1 color-black bold row-align3" style="color:#DD2C00 !important;border-left:1.5px solid #111 !important;">For every 3 goals conceded by a Goalie and Defender</div>
       <div class="col1 color-black bold lb-bg4" style="border-right:2px solid #111 !important;padding-top:20px !important;font-size:16px;">-1</div>
     </div>
    </div>
    <br>
    <!-- <p class="color-white f-size-18 yardface" style="margin-left:10px;">GK* - Goalkeeper</p>
    <p class="color-white f-size-18 yardface" style="margin-left:10px;">Def* - Defender</p>
    <p class="color-white f-size-18 yardface" style="margin-left:10px;">Mid* - Midfielder</p>
    <p class="color-white f-size-18 yardface" style="margin-left:10px;">For* - Forward</p> -->
    <p class="color-white f-size-18 yardface" style="margin-left:10px;">MOM* - Man Of the Match</p>
    <p class="color-white f-size-18 yardface" style="margin-left:10px;">N/A* - Not Applicable</p>
    <br><br>
    <style type="text/css">
        .header .col1 {
          background-color:lightgrey;
        }
        .col1 {
          border-left: solid 1px #111 !important;
          border-right: solid 1px #111 !important;
          border-bottom-style: none;
          border-right-style: none;
          -webkit-box-flex: 1;
          flex: 1;
          display: block;
          width: 100%;
        }
        .color-white {
          color: white !important;
        }
        .dark {
            background: #111 !important;
        }
        .row-align {
            padding-top: 9px !important;
        }
        .text-center {
            text-align: center;
        }
        .div{
          margin: 0;
          padding: 0;
          border: 0;
          vertical-align: baseline;
          font: inherit;
        }
        .color-black{
          color:#111;
        }
    </style>
</div>
