<div class="outer"><div class="middle"><div class="inner">
    <img src="../images/logo.png" style="display: block;margin: auto;height: 85px;"></img>
    <div style="margin-top:20px;padding: 5%;">
    <input ng-model="user.username" style="display: block;margin: auto;border: 0;padding-left: 20px;background: transparent;border-bottom: 1px #fff solid;" type="text" placeholder="Username">
    <input ng-model="user.password" style="display: block;margin: auto;margin-top: 20px;border: 0;padding-left: 20px;background: transparent;border-bottom: 1px #fff solid;" type="password" placeholder="Password">
    <p ng-show="loginError" style="margin-top:20px;color:red;text-align:center;">Invalid Credentials!</p>
    <button ng-click="doLogin();" style="display: block;margin: auto;background:#ffcc33;margin-top: 40px;border: 0;width: 180px;height: 35px;border-radius: 30px;color: #222;">{{btnText}}</button>


    </div>


</div>
</div>
</div>