<ion-view style="background:#333;">
<div class="bar bar-header" style="background:#333;height: 7vh;">
<img src="https://res.cloudinary.com/pratheev/image/upload/v1493486717/logo_f5vuzz.png" style="opacity:0.4;display: block;border: 0;height: 30px;width: 30px;margin-left: 10px;">
  <div class="h1 title yardface" style="color:#ffcc33;font-family: 'Raleway', sans-serif;font-size:25px;">Pitch</div>
  </div>
    <ion-content class="has-header" scroll="true">
 <ion-slide-box show-pager="false" slide-tabs-scrollable="true" ion-slide-tabs on-slide-changed="slideChanged($index)">
        <ion-slide ion-slide-tab-label="Trending" style="background: #444;">

        </ion-slide>
        
        
        <ion-slide ion-slide-tab-label="Recent" style="background: #444;">

        </ion-slide>

        <ion-slide ion-slide-tab-label="All" style="background: #444;">
<!--scroll="true" style="overflow: scroll;"-->
        </ion-slide>
    </ion-slide-box>

    </ion-content>
    </ion-view>