<div class="event-container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Manual Point System</h3>
        <div class="event-content">
            <div class="event-tab">
                <ul>
                    <li ng-repeat="tab in eventTab" ng-click="switchTab(tab.value)" ng-class="{active:navigateTab(tab.value)}">{{tab.tab}}</li>
                </ul>
                <a href="javascript:void(0);" ng-click="createTab()">+</a>
            </div>
            <div class="event-tanSection">
                <div ng-show="navigateTab(eventTab[0].value)">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 event-bg">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="match-contain">
                                <h4>Enter Match Id</h4>
                                <form method="post" name="matchForm" ng-submit="startMatch(matchForm.$valid)" class="text-center" novalidate>
                                    <div>
                                        <input type="text" placeholder="Match ID" ng-model="matchId" name="matchId" id="matchId" required ng-disabled="disableMatch">
                                        <span class="error" ng-show="(matchForm.matchId.$invalid && !matchForm.matchId.$pristine) || (matchForm.matchId.$error.required && matchSubmit)">Match ID is required</span>
                                    </div>
                                    <button type="submit" ng-disabled="disableMatch">Start</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="match-detail">
                                <div class="match-squence">
                                    <div class="left-container">
                                        <img ng-src="{{upcomingMatches[0].team1.logo}}" alt="">
                                        <p>{{upcomingMatches[0].team1.name}}</p>
                                    </div>
                                    <span>VS</span>
                                    <div class="right-container">
                                        <p>{{upcomingMatches[0].team2.name}}</p>
                                        <img ng-src="{{upcomingMatches[0].team2.logo}}" alt="">
                                    </div>
                                </div>
                                <!--<div class="coutntown">
                                    <img src="images/stopwatch.svg" alt=""> <span countdown='' date="{{upcomingMatches[0].match.startingDateTime}}"> </span>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 event-bg">
                        <div class="event-calculate">
                            <ul class="event-header">
                                <li>Serial No</li>
                                <li>Event ID</li>
                                <li>Event Name</li>
                                <li>Player ID</li>
                                <li>Player Name</li>
                                <li>Event Time</li>
                                <li>Points Secured</li>

                                <li><button style="border-radius: 100% !important;border: 1px solid blue;"><a href="javascript:void(0)" ng-click="addEvent()" style="color: blue" >+</a></button></li>
                            </ul>
                            <div class="event-pointsection">
                                <div class="events-section" ng-class="{matchFixed : eventSchedule.length>6}">
                                    <ul>
                                        <li ng-repeat="event in eventSchedule" ng-class="{ hider : event.submitted}">
                                            <div>{{$index+1}}</div>
                                            <div>
                                                <input type="text" ng-model="event.event_id" disabled>
                                                <span ng-show="error.event_id" class="error">*</span>
                                            </div>
                                            <div>
                                                <span ng-show="error.event_name" class="error">*</span>
                                                <select ng-model="event.event_name" ng-change="getPoint($index)">
                                                    <option ng-repeat="events in events" value="{{events.value}}">
                                                        {{events.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div>
                                                <input type="text" ng-model="event.player_id" disabled>
                                                <span ng-show="error.player_id" class="error">*</span>
                                            </div>
                                            <div>
                                                <select ng-model="event.player_name" ng-change="getPlayer($index)">
                                                    <option ng-repeat="player in playerList" value="{{player.playerName}}">
                                                        {{player.playerName}}
                                                    </option>
                                                </select>
                                                <span ng-show="error.player_name" class="error">*</span>
                                            </div>
                                            <div><input type="time" ng-model="event.event_time">
                                                <span ng-show="error.event_time" class="error">*</span>
                                            </div>
                                            <div><input type="text" ng-model="event.points">
                                                <span ng-show="error.points" class="error">*</span></div>
                                            <div>
                                                <button type="button" ng-click="createEvent($index)" ng-hide="event.dee" >Submit</button>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="match-end">
                                    <button type="button">Match Completed</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>