<div class="panel" style="margin-top: 15vh;">
<div class="panel-body"> <!--style="height: 88vh;overflow-x: scroll;"-->
    <div class="row">
        <div class="col-sm-6">
            <div class="m-b-30">
                <button id="addToTable" class="btn btn-primary waves-effect waves-light" ng-click="AddTeam($event)">Add <i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>

    <div class="">
        <div id="datatable-editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <div class="row"><div class="col-sm-6">
        <div class="dataTables_length" id="datatable-editable_length">
        <label>Show&nbsp;<select ng-model="selectedRPP" ng-init="selectedRPP=10" ng-change="changedRPP(selectedRPP)" name="datatable-editable_length" class="form-control input-sm">
        <option ng-value="10">10</option>
        <option ng-value="25">25</option>
        <option ng-value="50">50</option>
        <option ng-value="100">100</option>
        </select> entries</label>
        
        <label style="margin-left:7vh;">Sort By&nbsp;<select ng-model="selectedSort" name="datatable-editable_length" class="form-control input-sm">
        <option value="teamId">Team Id (Ascending)</option>
        <option value="-teamId">Team Id (Descending)</option>
        <option value="name">Team Name (Ascending)</option>
        <option value="-name">Team Name (Descending)</option>
        <option value="active">Status (Ascending)</option>
        <option value="-active">Status (Descending)</option>
        </select></label>
        
        </div></div><div class="col-sm-6"><div id="datatable-editable_filter" class="dataTables_filter"><label>Search&nbsp;<input ng-model="tableSearchQuery" type="search" class="form-control input-sm" placeholder=""></label></div></div></div><div class="row"><div class="col-sm-12">
        <table cg-busy="{promise:allTeamsPromise,message:'Please Wait...'}" class="table table-striped dataTable no-footer" id="datatable-editable" role="grid">
            <thead>
                <tr role="row">
                <th style="text-align:center;" tabindex="0" rowspan="1" colspan="1" style="width: 215px;">
                Team Id</th>
                <th style="text-align:center;" tabindex="0" rowspan="1" colspan="1" style="width: 283px;">Team Name</th>
                <th style="text-align:center;" tabindex="0" rowspan="1" colspan="1" style="width: 259px;">Status</th>
                <!--<th tabindex="0" rowspan="1" colspan="1" style="width: 259px;">League #1</th>-->
                <!--<th tabindex="0" rowspan="1" colspan="1" style="width: 259px;">League #2</th>-->
                <!--<th tabindex="0" rowspan="1" colspan="1" style="width: 259px;">League #3</th>-->
                <th style="text-align:center;" rowspan="1" colspan="1" style="width: 110px;">Actions</th></tr>
            </thead>
            <tbody>
            <tr cg-busy="{promise:updateTeamPromise,message:'Please Wait...'}" class="gradeA odd" role="row" id="{{teams.teamId}}" dir-paginate="teams in footTeams|orderBy:selectedSort|filter:tableSearchQuery|itemsPerPage:selectedRPP">
                    <td style="text-align:center;">{{teams.teamId}}</td>
                    <td style="text-align:center;">{{teams.name}}</td>
                    <td style="text-align:center;">{{teams.active}}</td>
                    
                    <td style="display:none;text-align:center;"><input ng-model="updatedTeam.name" style="text-align:center;background: transparent;border: 1px #98a6ad dashed;" type="text" value="{{teams.name}}"></td>
                    <td style="display:none;text-align:center;">
                    <button type="button" id="statusBtn" ng-click="clickedToggle();" class="btn btn-trans waves-effect w-md m-b-5">{{updatedTeam.active}}</button>
                    <!--<button type="button" ng-show="updatedTeam.active" ng-click="updatedTeam.active=false" class="btn btn-success btn-trans waves-effect w-md waves-success m-b-5">true</button>-->
                        <!--<input ng-model="updatedTeam.active" style="text-align:center;background: transparent;border: 1px #98a6ad dashed;" type="text" value="{{teams.active}}">-->
                    </td>
                    
                    <!--<td>{{teams.competitions[0].name}}</td>-->
                    <!--<td>{{teams.competitions[1].name}}</td>-->
                    <!--<td>{{teams.competitions[2].name}}</td>-->
                    <td class="actions" style="text-align:center;text-align:-webkit-center">
                        <a style="display:none;" href="" class="on-editing save-row" ng-click="postEdited(teams)"><i class="fa fa-save"></i></a>
                        <a style="display:none;" href="" class="on-editing cancel-row" ng-click="cancelEdit(teams.teamId)"><i class="fa fa-times"></i></a>
                        <a href="" class="on-default edit-row" ng-click="ViewTeam(teams.teamId)"><i class="fa fa-eye"></i></a>
                        <a href="" class="on-default edit-row" ng-click="EditTeam(teams.teamId)" ><i class="fa fa-pencil"></i></a>
                        <a href="" class="on-default remove-row" ng-click="DeleteTeam(teams.teamId,teams.name)"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                </tbody>
        </table>
        </div>
        </div>
        <div class="row">
        <!--<div class="col-sm-6">-->
        <!--<div class="dataTables_info" id="datatable-editable_info" role="status">-->
        <!--Showing {{ teams.range.lower }} to {{ range.upper }} of {{ teams.total }}-->
        <!--</div>-->
        <!--</div>-->
        <div class="col-sm-6">
        
        <dir-pagination-controls direction-links="true" boundary-links="true"></dir-pagination-controls>
        
        <!--<div class="dataTables_paginate paging_simple_numbers" id="datatable-editable_paginate">-->
        <!--<ul class="pagination" ng-if="pager.pages.length">-->
        <!--<li ng-class="{disabled:pager.currentPage === 1}" class="paginate_button previous" tabindex="0" id="datatable-editable_previous">-->
        <!--<a ng-click="setPage(pager.currentPage - 1)">Previous</a>-->
        <!--</li>-->
        <!--<li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}" class="paginate_button" tabindex="0">-->
        <!--<a ng-click="setPage(page)">{{page}}</a>-->
        <!--</li>-->
        <!--<li ng-class="{disabled:pager.currentPage === pager.totalPages}" class="paginate_button next" tabindex="0" id="datatable-editable_next">-->
        <!--<a ng-click="setPage(pager.currentPage + 1)">Next</a></li></ul></div>-->
        
        
        
        </div></div></div>
    </div>
</div>

</div>
