<md-dialog cg-busy="{promise:fixturePromise, message:'Please wait...'}" style="height: 220vh;width: 100vw;">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background: #222;">
                <img style="height: 100px;margin-top: 10vh;margin-left: -1vw;" src="{{fixture.team1.logo}}" alt="{{fixture.team1.name}}">
                <h2 style="width: 35%;text-align: center;">{{fixture.team1.name}} ({{fixture.team1.teamId}})</h2>
                <h1 style="width: 10%;text-align: center;">{{fixture.match.team1Formation}}</h1>
                <h1 style="width: 5%;text-align: right; color: #ffcc33;">{{fixture.match.team1Score}}</h1>
                <h1 style="width: 10%;text-align: center;">VS</h1>
                <h1 style="width: 5%;text-align: left; color: #ffcc33;">{{fixture.match.team2Score}}</h1>
                <h1 style="width: 10%;text-align: center;"">{{fixture.match.team2Formation}}</h1>
                <h2 style="width: 35%;text-align: center;">{{fixture.team2.name}} ({{fixture.team2.teamId}})</h2>
                <img style="height: 100px;margin-top: 10vh;margin-right: -1vw;" src="{{fixture.team2.logo}}" alt="{{fixture.team2.name}}">
                <md-button class="md-icon-button" ng-click="close()">
                    <span>X</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="">
            <div class="panel panel-color panel-tabs panel-success">
                <div class="panel-heading">
                    <ul class="nav nav-pills" style="display:block;margin: auto;width: 60vw;margin-left: 6vw">
                        <li class="active"><a>{{fixture.season.competition.name}} - {{fixture.season.name}}</a></li>
                        <li class="active"><a>{{returnIST(fixture.match.startingDateTime)}}</a></li>
                        <li class="active"><a>{{fixture.match.matchId}}</a></li>
                        <li class="active"><a>{{fixture.match.active ? "ACTIVE" : "INACTIVE"}}</a></li>
                        <li class="active"><a>{{fixture.match.events.length}} Events</a></li>
                        <li class="active"><a>{{fixture.match.minute != null ? fixture.match.minute : "NA"}}' M</a></li>
                        <li class="active"><a>{{fixture.match.extraMinute != null ? fixture.match.extraMinute: "NA"}}' ETM</a></li>
                        <li class="active"><a>{{fixture.match.team1Penalties != null ? fixture.match.team1Penalties: "PEN"}} - {{fixture.match.team2Penalties != null ? fixture.match.team2Penalties: "PEN"}}</a></li>
                        <li class="active"><a>{{fixture.match.status != null ? fixture.match.status : "-"}}</a></li>
                    </ul>    
                </div>
                <div class="panel-body">
                <table class="table table-striped dataTable no-footer" style="margin-left: 10px;" id="datatable-editable" role="grid">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 60px;text-align:center;">Player Id </th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 60px;text-align:center;">Player Name</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 60px;text-align:center;">Team</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 60px;text-align:center;">Position Id</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 60px;text-align:center;">Position Name</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 60px;text-align:center;">Lineup Position Name</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 60px;text-align:center;">Formation Position</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 60px;text-align:center;">Shirt Number</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 60px;text-align:center;">Minutes Played</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 60px;text-align:center;">Points</th>
                                <th rowspan="1" colspan="1" style="width: 80px;text-align:center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeA odd" role="row" ng-repeat="lineup in playerLineup | orderBy: 'playerDetails.points':true">
                                <td style="text-align:center;">{{lineup.playerId}}</td>
                                <td style="text-align:center; text-transform: capitalize;">{{lineup.playerName}}</td>
                                <td style="text-align:center;">{{lineup.playerDetails.teamId === fixture.match.team1Id ? fixture.team1.name : fixture.team2.name}}</td>
                                <td style="text-align:center;">{{lineup.playerPositionId != null ? lineup.playerPositionId : "-"}}</td>
                                <td style="text-align:center;">{{lineup.playerPosition != null ? lineup.playerPosition : "-"}}</td>
                                <td style="text-align:center;">{{lineup.playerDetails.position != null ? lineup.playerDetails.position : "-"}}</td>
                                <td style="text-align:center;">{{lineup.playerDetails.formationPosition != null ? lineup.playerDetails.formationPosition : "-"}}</td>
                                <td style="text-align:center;">{{lineup.playerDetails.shirtNumber != null ? lineup.playerDetails.shirtNumber : "-"}}</td>
                                <td style="text-align:center;">{{lineup.playerDetails.minutesPlayed != null ? lineup.playerDetails.minutesPlayed : "-"}}</td>
                                <td style="text-align:center;">{{lineup.playerDetails.points != null ? lineup.playerDetails.points : "-"}}</td>
                                <td class="actions">
                                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                                    <!-- <a href="" class="on-default edit-row" ng-click="ViewTeam(teams.teamId)"><i class="fa fa-eye"></i></a> -->
                                    <a class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                    <a class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 ng-show="playerLineup.length==0" style="font-variant:small-caps;margin-top: 32vh;font-size: 25px;color:#000;text-align:center;">No Lineup available for this team!</h4>
                    </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>